.icon
  display inline-block
  width 1em
  height 1em
  vertical-align top
  color currentColor

  use
    height 1em
    width 100%
    fill currentColor

  &_arrow-top
    width (14em / 9)

  &_check
    width (12em / 8)

  &_facebook
    width (7em / 15)

  &_logo
    width (142em / 23)

  &_twitter
    width (12em / 9)

  &_vk
    width (30em / 19)

  &_youtube
    width (16em / 12)
