.knowledge-center
  &__search-link
    +mobile()
      display none !important

  &__search-select
    display none
    margin-right auto
    flex-grow 1

    +mobile()
      width 130px
      display inline-block
      vertical-align top
