@import 'global'

@import 'global/normalized'

@import '../blocks/**/*'

fonts('Futura', 'FuturaPT-Medium', 300)
fonts('Futura', 'FuturaPT-Light', 100)
fonts('Avalon', 'Avalon-Bold', 600)

html
  height 100%

body
  text-smallest()
  font-futura()
  background $white
  color $blackLight
  height 100%
  width 100%
  overflow-y scroll
