.raw-html
  h2
    text-big-2()
    margin-bottom 1em

  h3
    text-medium-2()
    margin-bottom 1em

  p
    text-smaller()
    margin-bottom 1em

  ul
  ol
    text-smaller()
    margin-bottom 1em
    list-style-position inside

  ol
    list-style-type decimal

  ul
    list-style-type disc

  a
    underline-link-style(currentColor)
