.discover-title(class="discover-title_vertical-align_#{verticalAlign} discover-title_horizontal-align_#{horizontalAlign}")
  a.discover-title__link(href="#{link}")
    .discover-title__text = title
    .discover-title__text-hover = t('.discover')
