.button
  text-smaller()
  text-decoration none
  display inline-block
  vertical-align top
  text-align center
  padding 10px 30px
  text-transform uppercase
  background-position 50% 50%
  color white
  transition all .3s ease

  &:hover
    background-position 0% 0%

  &_size
    &_big
      padding 15px 25px

  &_color
    &_blue
      background $blue
      color $black

      &:hover
        color $white

    &_gray
      background #e6e6e6
      color $black

      &:hover
        background $blue
        color $white
