.news-page
  &__head
    .news-page &
      display flex
      align-items flex-end
      padding-bottom 50px

  &__date
    text-transform uppercase

  &__tags
    margin-top 74px
    text-transform uppercase

  &__title
    .news-page &
      padding-top 8px
